<ion-row>
  <ion-row class="justify-content-between mb-3 plus-icon-2">
    <h4 class="m-0 p-0">
      {{'charges' | translate}}
    </h4>
    <h2 class="p-0 m-0">
      <i class="fa fa-plus-circle text-success cursor-point" (click)="addNewCharge()"></i>
    </h2>
  </ion-row>

  <ion-row class="overflow-x-auto" *ngIf="groupList.length > 0">
    <table class="border-table-1 mx-auto">
      <thead>
        <tr>
          <th class="text-center">{{ 'id' | translate }}</th>
          <th class="text-center">{{ 'description' | translate }}</th>
          <th class="text-center">{{ 'start_date' | translate }}</th>
          <th class="text-center">{{ 'unit_price' | translate }}</th>
          <th class="text-center">{{ 'quantity' | translate }}</th>
          <th class="text-center">{{ 'discount_type' | translate }}</th>
          <th class="text-center">{{ 'total_charge' | translate }}</th>
          <th class="text-center"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let list of groupList; let i = index;">
          <td class="text-center"> {{list?.charge}} </td>
          <td class="text-center"> {{list?.adddescription}} </td>
          <td class="text-center"> {{list?.startdatetime}} </td>
          <td class="text-center"> {{list?.retailunitprice}} </td>
          <td class="text-center"> {{list?.retailquantity}} </td>
          <td class="text-center"> {{list?.discounttype}} </td>
          <td class="text-center"> {{list?.totalcharge}} </td>
          <td class="text-center">
            <i class="fa fa-pencil text-primary mx-2 cursor-point" (click)="switchEdit(i)"></i>
            <i class="fa fa-trash text-danger mx-2 cursor-point" (click)="presentAlert(i)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </ion-row>
</ion-row>
