<ion-row id="contact-email-history">
  <ion-row>
    <ion-row class="ion-margin-top">
      <span class="margin-auto">
        <h3>
          <strong>
            {{'contact_email_history' | translate}}
          </strong>
        </h3>
      </span>
    </ion-row>
    <ion-row class="ion-margin-top left-right-auto">

      <app-datatable class="w-100"
        [data]="dataSource"
        [columns]="columns"
        [action]="dataTableAction"
        [permissions]="permissions"
        [csvFileName]="csvFileName"
        [usePagination]="false">
      </app-datatable>

    </ion-row>
  </ion-row>

  <ion-row>
    <ion-row class="login-row page-bottom left-right-auto jqx-button-row">
      <ion-col [sizeXl]="4" [sizeLg]="4" [sizeMd]="4" [sizeSm]="4" [sizeXs]="6">
      </ion-col>
      <ion-col [sizeXl]="4" [sizeLg]="4" [sizeMd]="4" [sizeSm]="4" [sizeXs]="6">
      </ion-col>
      <ion-col [sizeXl]="4" [sizeLg]="4" [sizeMd]="4" [sizeSm]="4" [sizeXs]="6" class="margin-auto">
        <ion-row class="full-height">
          <jqxButton [theme]="globService.themeColor" class="jqx-button-theme" (click)="goBack()">
            {{ 'close' | translate }}
          </jqxButton>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-row>
</ion-row>