<ion-row class="total-content2 left-right-auto ion-margin-top">
  <form [formGroup]="groupForm" class="full-width" (ngSubmit)="submitForm()" novalidate>
    <ion-row class="ion-margin-top">
      <mat-form-field>
        <mat-select formControlName="Service" placeholder="{{ 'service' | translate }}" required>
          <mat-option *ngFor="let list of serviceList" [value]="list">
            {{list}}
          </mat-option>
        </mat-select>

        <mat-error>
          {{'service_required' | translate}}
        </mat-error>
      </mat-form-field>
    </ion-row>

    <ion-row class="ion-margin-top">
      <mat-form-field>
        <input matInput type="number" min="0" formControlName="Rate" name="Rate" placeholder="{{'rate'|translate}}"
          required (ngModelChange)="calcTotal()" />

        <mat-error>
          {{'rate_required' | translate}}
        </mat-error>
      </mat-form-field>
    </ion-row>

    <ion-row class="ion-margin-top">
      <mat-form-field>
        <input matInput type="number" min="0" formControlName="Hours" name="Hours" placeholder="{{'hours'|translate}}"
          required (ngModelChange)="calcTotal()" />

        <mat-error>
          {{'hours_required' | translate}}
        </mat-error>
      </mat-form-field>
    </ion-row>

    <ion-row class="ion-margin-top">
      <mat-form-field>
        <input matInput type="number" formControlName="Total" name="Total" placeholder="{{'total'|translate}}" />
      </mat-form-field>
    </ion-row>

    <ion-row class="ion-margin-top">
      <mat-form-field class="example-full-width textarea-field">
        <textarea matInput formControlName="Note" name="Note" placeholder="{{'notes_optional'| translate}}">
          </textarea>
      </mat-form-field>
    </ion-row>

    <button class="submitButton" id="productCategory"></button>
  </form>

  <ion-row class="ion-margin-top ion-margin-bottom normal-button">
    <ion-col [sizeXl]="4" [sizeLg]="4" [sizeMd]="4" [sizeSm]="12" [sizeXs]="12"></ion-col>
    <ion-col [sizeXl]="4" [sizeLg]="4" [sizeMd]="4" [sizeSm]="6" [sizeXs]="12">
      <ion-row class="full-height">
        <jqxButton [theme]="globService.themeColor" class="margin-auto" (click)="goBack()">
          {{'cancel' | translate}}
        </jqxButton>
      </ion-row>
    </ion-col>
    <ion-col [sizeXl]="4" [sizeLg]="4" [sizeMd]="4" [sizeSm]="6" [sizeXs]="12">
      <ion-row class="full-height">
        <jqxButton [theme]="globService.themeColor" [disabled]="!groupForm.valid" class="margin-auto" (click)="submitTrigger()">
          {{'add_to_order' | translate}}
        </jqxButton>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-row>