.customer-detail {
    tr {
        cursor: pointer;
    }

    td {
        padding: 7px 7px;

        i {
            font-size: 25px;
        }

        span {
            font-size: 17px;
        }
    }
}