<ion-header mode='ios'>
  <ion-row class="header1-row" color="secondary">
    <ion-col size="2">
      <ion-row class="full-height">
        <ion-icon name="menu" class="header-icon">
        </ion-icon>
      </ion-row>
    </ion-col>

    <ion-col size="8">
      <ion-row class="full-height">
        <span class="header-title">
          {{ 'change_password' | translate }}
        </span>
      </ion-row>
    </ion-col>
  </ion-row>
  <app-header [pageName]="'change_password' | translate"></app-header>
</ion-header>

<ion-content class="ion-padding" (ionScrollStart)="scrollContent($event)" [scrollEvents]="true">
  <ion-row class="full-width full-height">
  </ion-row>
</ion-content>