<ion-row class="total-bulk total-content2 left-right-auto">


  <ion-row class="margin-top-5vh left-right-auto">
    <ion-col [sizeXl]="6" [sizeLg]="6" [sizeMd]="6" [sizeSm]="6" [sizeXs]="12">
      <ion-row class="full-height">
        <span class=" margin-auto">
          {{ 'service_group_id' | translate }}: <strong>{{ServiceGroupId}}</strong>
        </span>
      </ion-row>
    </ion-col>

    <ion-col [sizeXl]="6" [sizeLg]="6" [sizeMd]="6" [sizeSm]="6" [sizeXs]="12">
      <ion-row class="full-height">
        <span class="margin-auto">
          {{ 'service_group_name' | translate }}: <strong>{{ServiceGroupName}}</strong>
        </span>
      </ion-row>
    </ion-col>
  </ion-row>

  <form [formGroup]="barForm" (ngSubmit)="barSubmit()" class="full-width ion-margin-top ion-padding-top" novalidate>
    <ion-row>
      <ion-col [sizeXl]="6" [sizeLg]="6" [sizeMd]="6" [sizeSm]="6" [sizeXs]="12">
        <ion-row class="full-height">

          <mat-form-field class="example-full-width">

            <mat-select formControlName="BarType" placeholder="{{ 'bar_type' | translate }}" name="BarType">
              <mat-option *ngFor="let list of barTypeList; let i = index" value="{{list.Id}}"
                (click)="selectBarType(i)">
                {{list.Name}}
              </mat-option>
            </mat-select>

            <mat-error>
              {{ 'bar_type_required' | translate }}
            </mat-error>

          </mat-form-field>

        </ion-row>
      </ion-col>

      <ion-col [sizeXl]="6" [sizeLg]="6" [sizeMd]="6" [sizeSm]="6" [sizeXs]="12">
        <ion-row class="full-height">

          <mat-form-field class="example-full-width">

            <input matInput [matDatepicker]="picker" [min]="currentDate" formControlName="DateToBarService"
              placeholder="{{ 'date_to_bar_service' | translate }}" name="DateToBarService"
              (ngModelChange)="changeStartDate()">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>

            <mat-error>
              <span>{{ 'date_to_bar_service_required' | translate }}</span>
            </mat-error>

          </mat-form-field>

        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col [sizeXl]="6" [sizeLg]="6" [sizeMd]="6" [sizeSm]="6" [sizeXs]="12">
      </ion-col>

      <ion-col [sizeXl]="6" [sizeLg]="6" [sizeMd]="6" [sizeSm]="6" [sizeXs]="12">
        <ion-row class="full-height">

          <mat-checkbox [(ngModel)]="unBarState" [ngModelOptions]="{standalone: true}"
            (ngModelChange)="unBarStateChange()">
            {{ 'automatically_unbar' | translate }}
          </mat-checkbox>

        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col [sizeXl]="6" [sizeLg]="6" [sizeMd]="6" [sizeSm]="6" [sizeXs]="12">
        <ion-row class="full-height">

          <!-- <mat-form-field class="example-full-width">

            <mat-select formControlName="BarReason" placeholder="{{ 'bar_reason' | translate }}" name="BarReason">
              <mat-option *ngFor="let list of barReasonList; let i = index" value="{{list.Id}}">
                {{list.Name}}
              </mat-option>
            </mat-select>

            <mat-error>
              {{ 'bar_reason_required' | translate }}
            </mat-error>

          </mat-form-field> -->

        </ion-row>
      </ion-col>

      <ion-col [sizeXl]="6" [sizeLg]="6" [sizeMd]="6" [sizeSm]="6" [sizeXs]="12">
        <ion-row class="full-height">

          <mat-form-field class="example-full-width">

            <input matInput [matDatepicker]="pickerUnBar" [min]="reversalMinDate" formControlName="DateFromBarService"
              placeholder="{{ 'automatically_unbar' | translate }}" name="DateFromBarService">
            <mat-datepicker-toggle matSuffix [for]="pickerUnBar"></mat-datepicker-toggle>
            <mat-datepicker #pickerUnBar></mat-datepicker>

            <mat-error>
              <span>{{ 'automatically_unbar_required' | translate }}</span>
            </mat-error>

          </mat-form-field>

        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top">
      <mat-form-field class="example-full-width textarea-field">
        <textarea matInput formControlName="note" name="note" placeholder="{{'notes_optional'| translate}}">
      </textarea>
      </mat-form-field>
    </ion-row>
    <button id="submitButton"></button>
  </form>

  <ion-row class="login-row page-bottom normal-button">
    <ion-col [sizeXl]="3" [sizeLg]="3" [sizeMd]="12" [sizeSm]="12" [sizeXs]="12">
    </ion-col>

    <ion-col [sizeXl]="3" [sizeLg]="3" [sizeMd]="6" [sizeSm]="6" [sizeXs]="12">
      <ion-row class="full-height">
        <jqxButton [theme]="globService.themeColor" class="jqx-button-theme" (click)="submitTrigger()" [disabled]="!barForm.valid">
          {{ 'bar' | translate }}
        </jqxButton>
      </ion-row>
    </ion-col>
    <ion-col [sizeXl]="3" [sizeLg]="3" [sizeMd]="6" [sizeSm]="6" [sizeXs]="12">
      <ion-row class="full-height">
        <jqxButton [theme]="globService.themeColor" class="jqx-button-theme" (click)="goBack()">
          {{ 'cancel' | translate }}
        </jqxButton>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-row>