.background-color1 {
    background-color: rgba(0, 0, 0, 0.3);
}

.confirm-modal {
    width: 300px;
    background-color: white;
}

.confirm-header {
    font-size: 20px;
    text-align: center;
}

.confirm-body {
    font-size: 17px;
}

#creditConfirmModal {
    display: none;
}