<ion-row class="mt-3" *ngIf="chargeMode == 'list'">
  <app-charge-list [ComponentType]="ComponentType" class="w-100" [FinancialId]="FinancialId" [ContactCode]="ContactCode"
    (ChargeListComponent)="processCharge($event)">
  </app-charge-list>
</ion-row>

<ion-row class="mt-3" *ngIf="chargeMode == 'create'">
  <app-charge-new class="w-100" [ContactCode]="ContactCode" (ChargeFormComponent)="processCharge($event)">
  </app-charge-new>
</ion-row>

<ion-row class="mt-3" *ngIf="chargeMode == 'update'">
  <app-charge-new class="w-100" [ChargeType]="'update'" [ContactCode]="ContactCode" [ChargeId]="ChargeId"
    (ChargeFormComponent)="processCharge($event)">
  </app-charge-new>
</ion-row>