<ion-header [mode]="'ios'">

    <ion-row class="header1-row" color="secondary">

        <ion-col size="2">

            <ion-row class="full-height">
                <ion-icon [name]="'menu'" class="header-icon">
                </ion-icon>
            </ion-row>

        </ion-col>

        <ion-col size="8">

            <ion-row class="full-height">

                <span class="header-title">
                    {{ 'permission_denied' | translate }}
                </span>

            </ion-row>

        </ion-col>

    </ion-row>

    <!--<app-header [pageName]="'permission_denied' | translate"></app-header>-->

</ion-header>


<ion-content class="ion-padding" (ionScrollStart)="scrollContent($event)" [scrollEvents]="true">

    <ion-row>

        <ion-col [size]="12">

            <div id="notfound">

                <div class="notfound">

                    <div class="notfound-404">
                        <div></div>
                        <h1>403</h1>
                    </div>

                    <h2>{{'permission_denied' | translate}}</h2>
                    <p>{{'permission_denied_description' | translate}}</p>
                    <a [href]="'javascript:void(0)'" (click)="navCtrl.navigateForward(['auth/signin'])">{{'back_to_signin' |
                        translate}}</a>

                </div>

            </div>

        </ion-col>

    </ion-row>

</ion-content>