<ion-row class="overflow-y-auto px-3">
  <ion-row class="my-3">
    <h3 class="p-0 m-auto text-center">
      {{'change_password' | translate}}
    </h3>
  </ion-row>
  <ion-row class="total-content2 mx-auto">
    <form [formGroup]="formData" class="full-width" (ngSubmit)="passwordSubmit()" novalidate>

      <ion-row class="username-row" *ngIf="twoFAState">
        <mat-form-field class="example-full-width">
          <input matInput formControlName="twoFACtrl" type="text" placeholder="{{ 'auth_key' | translate }}" required
            name="twoFACtrl">
          <mat-error>
            {{ 'auth_key_required' | translate }}
          </mat-error>
        </mat-form-field>
      </ion-row>

      <ion-row class="username-row my-3">
        <mat-form-field class="example-full-width">
          <input matInput formControlName="oldPassword" type="password" placeholder="{{ 'old_password' | translate }}"
            required name="oldpassword">
          <mat-error>
            {{ 'old_password_is_required' | translate }}
          </mat-error>
        </mat-form-field>
      </ion-row>

      <ion-row class="username-row my-3">
        <ion-row class="user-password-field address-spinner">
          <mat-form-field class="example-full-width">
            <input matInput formControlName="newPassword" [type]="show ? 'text' : 'password'" placeholder="{{ 'new_password' | translate }}"
              autocomplete="on" required name="newpassword"
              (focusout)="focusOutField('password')">
            <mat-error *ngIf="f.newPassword.hasError('required')">
              {{ 'new_password_is_required' | translate }}
            </mat-error>
            <mat-error class="d-flex" *ngIf="!f.newPassword.hasError('required') && !f.newPassword.valid">
              <span class="w-100 text-center bg-danger p-1 text-light rounded"
                *ngIf="passwordStrengStr == 'password_weak'">
                {{'password_weak' | translate}}
              </span>
              <span class="w-100 text-center bg-danger p-1 text-light rounded"
                *ngIf="passwordStrengStr == 'password_medium'">
                {{'password_medium' | translate}}
              </span>
              <span class="w-100 text-center bg-danger p-1 text-light rounded"
                *ngIf="passwordStrengStr == 'password_failed'">
                {{passReasonStr}}
              </span>
            </mat-error>

            <mat-hint [align]="'start'" class="d-flex w-100"
              *ngIf="f.newPassword.valid && passwordStrengStr == 'password_strong'">
              <span class="w-100 text-center bg-success p-1 text-light rounded">
                {{'password_strong' | translate}}
              </span>
            </mat-hint>

            <mat-hint [align]="'start'" class="d-flex w-100"
              *ngIf="f.newPassword.valid && passwordStrengStr == 'password_medium'">
              <span class="w-100 text-center bg-primary p-1 text-light rounded">
                {{'password_medium' | translate}}
              </span>
            </mat-hint>
          </mat-form-field>
          <mat-progress-bar mode="indeterminate" *ngIf="spinner?.password"></mat-progress-bar>
        </ion-row>
        <ion-row class="password-generate">
          <ion-icon name="eye-outline" class="m-auto cursor-point" (click)="togglePasswordShow()"></ion-icon>
        </ion-row>
        <ion-row class="password-generate">
          <ion-icon name="key-outline" class="m-auto cursor-point" (click)="generatePassword()"></ion-icon>
        </ion-row>
      </ion-row>

      <ion-row class="username-row my-3">
        <mat-form-field class="example-full-width">
          <input matInput formControlName="confirmPassword" type="password"
            placeholder="{{ 'conirm_password' | translate }}" required name="confirmPassword">
          <mat-error *ngIf="f.confirmPassword.hasError('required')">
            {{ 'confirm_password_is_required' | translate }}
          </mat-error>
          <mat-error *ngIf="f.confirmPassword.hasError('mustMatch')">
            {{ 'passwords_match' | translate }}
          </mat-error>
        </mat-form-field>
      </ion-row>

      <ion-row class="ion-margin-top ion-padding-top">
        <h6 class="margin-auto password-pattern" *ngIf="psdStr == ''">
          {{'password_pattern' | translate}}
        </h6>
        <h6 class="margin-auto password-pattern" *ngIf="psdStr != ''">
          {{psdStr}}
        </h6>
      </ion-row>

      <button mat-button id="submitButton">Submit</button>
    </form>

    <ion-row class="jqx-button-row mt-5">
      <ion-col size="6">
        <ion-row class="full-height">
          <jqxButton [theme]="globService.themeColor" class="jqx-button-theme" [disabled]="!formData.valid"
            (click)="triggerSubmit()">
            {{ 'change' | translate }}
          </jqxButton>
        </ion-row>
      </ion-col>
      <ion-col size="6">
        <ion-row class="full-height">
          <jqxButton [theme]="globService.themeColor" class="jqx-button-theme" (click)="goBack()">
            {{ 'cancel' | translate }}
          </jqxButton>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-row>

</ion-row>