<ion-row>
  <ion-row class="total-content2 left-right-auto">

    <form [formGroup]="chargeForm" class="full-width" (ngSubmit)="newCharge()" novalidate>
      <ion-row class="group-content">
        <ion-row class="group-title">
          <span class="top-bottom-auto">
            {{ 'charge' | translate }}
          </span>
        </ion-row>
        <ion-row class="group-body border-row">
          <ion-row class="ion-margin-top">
            <mat-form-field class="example-full-width">

              <mat-select formControlName="description" placeholder="{{ 'description' | translate }}" name="description"
                required>
                <mat-option *ngFor="let list of desList; let i = index" value="{{list.text}}">
                  {{list.value}}
                </mat-option>
              </mat-select>

              <mat-error>
                {{ 'description_required' | translate }}
              </mat-error>
            </mat-form-field>
          </ion-row>

          <ion-row>
            <mat-form-field class="example-full-width">
              <input matInput formControlName="addDescription" type="text" #addDescription
                placeholder="{{ 'additional_description' | translate }}" name="addDescription" />
            </mat-form-field>
          </ion-row>

          <ion-row>
            <mat-form-field class="example-full-width">
              <input matInput formControlName="CustomerReference" type="text"
                placeholder="{{ 'customer_reference' | translate }}" name="CustomerReference" />

              <mat-error>
                {{ 'customer_reference_invalid' | translate }}
              </mat-error>
            </mat-form-field>
          </ion-row>

          <ion-row>
            <mat-form-field class="example-full-width">
              <input matInput formControlName="OtherReference" type="text"
                placeholder="{{ 'other_reference' | translate }}" name="OtherReference" />

              <mat-error>
                {{ 'other_reference_invalid' | translate }}
              </mat-error>
            </mat-form-field>

          </ion-row>

        </ion-row>
      </ion-row>

      <ion-row class="group-content">
        <ion-row class="group-title">
          <span class="top-bottom-auto">
            {{ 'charge_dates' | translate }}
          </span>
        </ion-row>
        <ion-row class="group-body border-row">

          <ion-row>
            <ion-col size="6">
              <mat-form-field class="example-full-width">

                <input matInput [matDatepicker]="picker" formControlName="startDate" [min]="minDate"
                  placeholder="{{ 'start_date' | translate }}" name="startDate" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>

                <mat-error>
                  <span>{{ 'start_date_required' | translate }}</span>
                </mat-error>

              </mat-form-field>
            </ion-col>

            <ion-col size="6">
              <mat-form-field class="example-full-width">

                <mat-select formControlName="startTime" placeholder="{{ 'time' | translate }}" name="startTime"
                  required>
                  <mat-option *ngFor="let list of startTime; let i = index" value="{{list.text}}">
                    {{list.value}}
                  </mat-option>
                </mat-select>

                <mat-error>
                  {{ 'time_required' | translate }}
                </mat-error>

              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-row>
              <mat-checkbox [(ngModel)]="endDateCheck" [ngModelOptions]="{standalone: true}"
                (ngModelChange)="checkEndDate()">
                {{ 'end_date' | translate }}
              </mat-checkbox>
            </ion-row>

            <ion-row>
              <ion-col size="6">
                <mat-form-field class="example-full-width">

                  <input matInput [matDatepicker]="pickerEndDate" formControlName="endDate"
                    placeholder="{{ 'end_date' | translate }}" name="endDate" [required]="endDateCheck">
                  <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
                  <mat-datepicker #pickerEndDate></mat-datepicker>

                  <mat-error>
                    <span>{{ 'end_date_required' | translate }}</span>
                  </mat-error>

                </mat-form-field>
              </ion-col>

              <ion-col size="6">
                <mat-form-field class="example-full-width">

                  <mat-select formControlName="endTime" placeholder="{{ 'time' | translate }}" name="endTime"
                    [required]="endDateCheck">
                    <mat-option *ngFor="let list of endTimeList; let i = index" value="{{list.text}}">
                      {{list.value}}
                    </mat-option>
                  </mat-select>

                  <mat-error>
                    {{ 'time_required' | translate }}
                  </mat-error>

                </mat-form-field>
              </ion-col>
            </ion-row>
          </ion-row>

        </ion-row>
      </ion-row>

      <mat-tab-group class="border-row">
        <mat-tab label="{{ 'retail' | translate }}">
          <ion-row class="group-content">
            <ion-row class="group-title">
              <span class="top-bottom-auto">
                {{ 'amount_Tax' | translate }}
              </span>
            </ion-row>
            <ion-row class="group-body border-row">

              <ion-row>
                <mat-checkbox [(ngModel)]="useDefaultAmount" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="changeDefaultAmount()">
                  {{ 'use_default_amount' | translate }}
                </mat-checkbox>
              </ion-row>

              <ion-row>
                <ion-col size="12">
                  <mat-form-field class="example-full-width">

                    <input matInput formControlName="retailUnitPrice" type="number" (keyup)="getTotalCharge()"
                      placeholder="{{ 'unit_price' | translate }}" name="retailUnitPrice" />

                    <mat-error>
                      <span>{{ 'unit_price_required' | translate }}</span>
                    </mat-error>

                  </mat-form-field>
                </ion-col>

                <ion-col size="12">
                  <mat-form-field class="example-full-width">

                    <input matInput formControlName="retailQuantity" type="number" (keyup)="getTotalCharge()"
                      placeholder="{{ 'quantity' | translate }}" name="retailQuantity" />

                    <mat-error>
                      <span>{{ 'quantity_required' | translate }}</span>
                    </mat-error>

                  </mat-form-field>
                </ion-col>

                <ion-col size="12">
                  <mat-form-field class="example-full-width">

                    <input matInput formControlName="retailDiscount" type="number" (keyup)="getTotalCharge()"
                      placeholder="{{ 'total_non_dis_price' | translate }}" name="retailDiscount" />

                    <mat-error>
                      <span>{{ 'discount_required' | translate }}</span>
                    </mat-error>

                  </mat-form-field>
                </ion-col>
              </ion-row>

            </ion-row>
          </ion-row>
        </mat-tab>
        <mat-tab label="{{ 'discounting' | translate }}">
          <ion-row class="group-content">
            <ion-row class="group-title">
              <span class="top-bottom-auto">
                {{ 'discount_tax' | translate }}
              </span>
            </ion-row>
            <ion-row class="group-body border-row">

              <ion-row>
                <mat-checkbox [(ngModel)]="applyDiscount" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="changeApplyDiscount()">
                  {{ 'apply_discount' | translate }}
                </mat-checkbox>
              </ion-row>
              <ion-row>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                  [(ngModel)]="discountType" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="switchDiscountType()">
                  <mat-radio-button class="example-radio-button" [disabled]="!applyDiscount" value="fixed">
                    {{ 'fixed' | translate }}
                  </mat-radio-button>
                  <mat-radio-button class="example-radio-button" [disabled]="!applyDiscount" value="percentage">
                    {{ 'percentage' | translate }}
                  </mat-radio-button>
                </mat-radio-group>
              </ion-row>

              <ion-row>
                <ion-col size="12">
                  <mat-form-field class="example-full-width">

                    <input matInput formControlName="disUnitPrice" type="number" (keyup)="getTotalCharge()"
                      placeholder="{{ 'unit_price' | translate }}" name="disUnitPrice"
                      [required]="discountType!='fixed'" />

                    <mat-error>
                      <span>{{ 'unit_price_required' | translate }}</span>
                    </mat-error>

                  </mat-form-field>
                </ion-col>

                <ion-col size="12">
                  <mat-form-field class="example-full-width">

                    <input matInput formControlName="disQuantity" type="number" (keyup)="getTotalCharge()"
                      placeholder="{{ 'quantity' | translate }}" name="disQuantity"
                      [required]="discountType!='fixed'" />

                    <mat-error>
                      <span>{{ 'quantity_required' | translate }}</span>
                    </mat-error>

                  </mat-form-field>
                </ion-col>

                <ion-col size="12">
                  <mat-form-field class="example-full-width">

                    <input matInput formControlName="disDiscount" type="number" (keyup)="getTotalCharge()"
                      placeholder="{{ 'total_discount' | translate }}" [required]="discountType=='fixed'"
                      name="disDiscount" />

                    <mat-error>
                      <span>{{ 'total_discount_required' | translate }}</span>
                    </mat-error>

                  </mat-form-field>
                </ion-col>
              </ion-row>

            </ion-row>
          </ion-row>
        </mat-tab>
        <mat-tab label="{{ 'wholesale' | translate }}">
          <ion-row class="group-content">
            <ion-row class="group-title">
              <span class="top-bottom-auto">
                {{ 'amount_Tax' | translate }}
              </span>
            </ion-row>
            <ion-row class="group-body border-row">

              <ion-row>
                <mat-checkbox [(ngModel)]="useDefaultAmountWhole" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="changeDefaultAmountWhole()">
                  {{ 'use_default_amount' | translate }}
                </mat-checkbox>
              </ion-row>

              <ion-row>
                <ion-col size="12">
                  <mat-form-field class="example-full-width">

                    <input matInput formControlName="wholeUnitPrice" type="number" (keyup)="getTotalCharge()"
                      placeholder="{{ 'unit_price' | translate }}" name="wholeUnitPrice" />

                    <mat-error>
                      <span>{{ 'unit_price_required' | translate }}</span>
                    </mat-error>

                  </mat-form-field>
                </ion-col>

                <ion-col size="12">
                  <mat-form-field class="example-full-width">

                    <input matInput formControlName="wholeQuantity" type="number" (keyup)="getTotalCharge()"
                      placeholder="{{ 'quantity' | translate }}" name="wholeQuantity" />

                    <mat-error>
                      <span>{{ 'quantity_required' | translate }}</span>
                    </mat-error>

                  </mat-form-field>
                </ion-col>

                <ion-col size="12">
                  <mat-form-field class="example-full-width">

                    <input matInput formControlName="wholeCost" type="number" (keyup)="getTotalCharge()"
                      placeholder="{{ 'total_wholesale_cost' | translate }}" name="wholeCost" />

                    <mat-error>
                      <span>{{ 'wholesale_cost_required' | translate }}</span>
                    </mat-error>

                  </mat-form-field>
                </ion-col>
              </ion-row>

            </ion-row>
          </ion-row>
        </mat-tab>
        <mat-tab label="{{ 'note' | translate }}">
          <ion-row class="group-content">
            <ion-row class="group-title">
              <span class="top-bottom-auto">
                {{ 'enter_notes_optional' | translate }}
              </span>
            </ion-row>

            <ion-row class="group-body border-row">
              <mat-form-field class="example-full-width textarea-field">
                <textarea matInput formControlName="note" name="note">

                  </textarea>
              </mat-form-field>
            </ion-row>

          </ion-row>
        </mat-tab>
      </mat-tab-group>

      <ion-row class="group-content">
        <ion-row class="group-body">

          <ion-row>
            <ion-col size="6"></ion-col>
            <ion-col size="6">
              <ion-row class="full-height">
                <span class="top-bottom-auto margin-left-auto">
                  {{'total_charge'|translate}} {{totalCharge}}
                </span>
              </ion-row>
            </ion-col>
          </ion-row>

        </ion-row>
      </ion-row>
      <button id="submitButton">button</button>
    </form>



    <ion-row class="login-row page-bottom normal-button">
      <ion-col size="4"></ion-col>
      <ion-col size="4">
        <ion-row class="full-height">
          <jqxButton [theme]="globService.themeColor" class="jqx-button-theme" (click)="submitTrigger()"
            [disabled]="!chargeForm.valid">
            {{ 'save' | translate }}
          </jqxButton>
        </ion-row>
      </ion-col>
      <ion-col size="4">
        <ion-row class="full-height">
          <jqxButton [theme]="globService.themeColor" class="jqx-button-theme" (click)="goBack()">
            {{ 'cancel' | translate }}
          </jqxButton>
        </ion-row>
      </ion-col>
    </ion-row>

  </ion-row>
</ion-row>