<ion-row class="my-3">
  
  <ion-row>
    <h3 class="p-0 m-auto text-center">
      {{'password_reset_configuration' | translate}}
    </h3>
  </ion-row>
  <form class="w-100" [formGroup]="configurationForm" novalidate>
    <ion-row class="mt-3">
      <ion-col [sizeXl]="4" [sizeLg]="4" [sizeMd]="4" [sizeSm]="12" [sizeXs]="12">
        <ion-row class="h-100 align-items-center">
          <section class="w-100">
            <mat-checkbox formControlName="EmailLink">
              {{'EmailLink' | translate}}
            </mat-checkbox>
          </section>
        </ion-row>
      </ion-col>
      <ion-col [sizeXl]="4" [sizeLg]="4" [sizeMd]="4" [sizeSm]="12" [sizeXs]="12">
        <ion-row class="h-100 align-items-center">
          <section class="w-100">
            <mat-checkbox formControlName="SMSReset">
              {{'SMSReset' | translate}}
            </mat-checkbox>
          </section>
        </ion-row>
      </ion-col>
    </ion-row>
  </form>
</ion-row>

<ion-row class="jqx-button-row justify-content-center my-3">
  <ion-col [sizeXl]="3" [sizeLg]="3" [sizeMd]="3" [sizeSm]="3" [sizeXs]="6">
    <ion-row class="h-100">
      <jqxButton [theme]="globService.themeColor" class="jqx-button-theme" (onClick)="saveData()">
        {{ 'update' | translate }}
      </jqxButton>
    </ion-row>
  </ion-col>

  <ion-col [sizeXl]="3" [sizeLg]="3" [sizeMd]="3" [sizeSm]="3" [sizeXs]="6">
    <ion-row class="h-100">
      <jqxButton [theme]="globService.themeColor" class="jqx-button-theme" (onClick)="goBack()">
        {{ 'cancel' | translate }}
      </jqxButton>
    </ion-row>
  </ion-col>
</ion-row>