<ion-row [formGroup]="formGroup">
  <ion-col size="10">
    <ion-row>
      <ion-col [sizeXl]="6" [sizeLg]="6" [sizeMd]="6" [sizeSm]="6" [sizeXs]="12">
        <mat-form-field>
          <mat-label>{{ 'document_type' | translate }}</mat-label>
          <mat-select formControlName="TypeId">
            <mat-option *ngFor="let item of identificationTypes" [value]="item.Id">
              {{ item.Name }}
            </mat-option>
          </mat-select>

          <mat-error>
            {{ 'document_type' | translate }} {{ 'IsRequired' | translate }}
          </mat-error>
        </mat-form-field>
      </ion-col>
      
      <ion-col [sizeXl]="6" [sizeLg]="6" [sizeMd]="6" [sizeSm]="6" [sizeXs]="12">
        <mat-form-field>
          <mat-label>{{ 'value' | translate }}</mat-label>
          <input matInput type="text" formControlName="Value">

          <mat-error>
            {{ 'value_required' | translate }}
          </mat-error>
        </mat-form-field>
      </ion-col>

      <ion-col [sizeXl]="6" [sizeLg]="6" [sizeMd]="6" [sizeSm]="6" [sizeXs]="12">
        <mat-form-field>
          <mat-label>{{ 'issue_date' | translate }}</mat-label>
          <input matInput [matDatepicker]="issueDate" formControlName="IssueDate">

          <mat-datepicker-toggle matSuffix [for]="issueDate"></mat-datepicker-toggle>
          <mat-datepicker #issueDate></mat-datepicker>

          <mat-error>
            {{ 'issue_date_required' | translate }}
          </mat-error>
        </mat-form-field>
      </ion-col>

      <ion-col [sizeXl]="6" [sizeLg]="6" [sizeMd]="6" [sizeSm]="6" [sizeXs]="12">
        <mat-form-field>
          <mat-label>{{ 'expire_date' | translate }}</mat-label>
          <input matInput [matDatepicker]="expiryDate" formControlName="ExpiryDate">

          <mat-datepicker-toggle matSuffix [for]="expiryDate"></mat-datepicker-toggle>
          <mat-datepicker #expiryDate></mat-datepicker>

          <mat-error>
            {{ 'expire_date_required' | translate }}
          </mat-error>
        </mat-form-field>
      </ion-col>
    </ion-row>
  </ion-col>

  <ion-col [sizeXl]="2" [sizeLg]="2" [sizeMd]="2" [sizeSm]="2" [sizeXs]="4" class="margin-auto">
    <ion-row class="ion-align-items-center">
      <button mat-icon-button type="button" (click)="deleteFormGroup()">
        <ion-icon aria-hidden="true" name="trash-outline" size="medium"></ion-icon>
      </button>
    </ion-row>
  </ion-col>
</ion-row>

<ion-row class="border-top ion-margin-top ion-margin-bottom"></ion-row>