<ion-row class="mt-3">
  <h3 class="my-0 p-0">
    {{ 'security_question' | translate }}
  </h3>
</ion-row>

<ion-row class="my-3">
  <form [formGroup]="questionForm" class="w-100" novalidate>
    <ion-row class="mt-3">
      <ion-row>
        <ion-col [sizeXl]="6" [sizeLg]="6" [sizeMd]="6" [sizeSm]="6" [sizeXs]="12">
          <ion-row class="h-100">
            <mat-form-field class="w-100">

              <mat-select formControlName="newquestion" placeholder="{{ 'question' | translate }}" required>
                <mat-option *ngFor="let itemList of availQuestions; let j = index" [value]="itemList.id"
                  (click)="selectQuestion()">
                  {{itemList.question}}
                </mat-option>
              </mat-select>

              <mat-error>
                {{ 'question_required' | translate }}
              </mat-error>
            </mat-form-field>
          </ion-row>
        </ion-col>
        <ion-col [sizeXl]="6" [sizeLg]="6" [sizeMd]="6" [sizeSm]="6" [sizeXs]="12">
          <ion-row class="h-100">
            <mat-form-field class="example-full-width">
              <input matInput type="text" formControlName="newanswer" placeholder="{{ 'answer' | translate }}" required>

              <mat-error>
                {{ 'asnwer_required' | translate }}
              </mat-error>

            </mat-form-field>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-row>
  </form>
</ion-row>

<ion-row>
  <ion-row class="my-3 jqx-button-row total-content4 justify-content-center">    
    <ion-col size="4">
      <ion-row class="full-height">
        <jqxButton [theme]="globService.themeColor" [disabled]="!questionForm.valid" class="jqx-button-theme"
          [disabled]="!permissions.includes('New')"
          (onClick)="saveQuestion()">
          {{ 'save' | translate }}
        </jqxButton>
      </ion-row>
    </ion-col>
    <ion-col size="4">
      <ion-row class="full-height">
        <jqxButton [theme]="globService.themeColor" class="jqx-button-theme" (click)="close()">
          {{ 'close' | translate }}
        </jqxButton>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-row>