<ion-row class="p-3 h-100 align-content-between">
  <ion-row>
    <ion-row class="mb-3">
      <h2 class="m-auto text-center p-0">
        {{'forgot_password' | translate}}
      </h2>
    </ion-row>
    <form [formGroup]="formGroup" class="w-100" novalidate>
      <ion-row class="">
        <mat-form-field>
          <input matInput formControlName="AccountNumber" placeholder="{{'account_number' | translate }}"
            name="AccountNumber" maxlength="10" />

          <mat-error>
            {{'account_number_required' | translate}}
          </mat-error>
        </mat-form-field>
      </ion-row>

      <button class="submitButton" id="forgotPasswordSubmitButton"></button>
    </form>

    <mat-tab-group animationDuration="500ms" class="w-100" (selectedTabChange)="selectTabs($event)"
      [selectedIndex]="serviceTabIndex" *ngIf="FormMode == 'both'">
      <mat-tab>
        <ion-row>
          <ng-template mat-tab-label>
            <ion-row>
              <span class="margin-auto py-3" innerHTML="{{ 'email' | translate }}">
              </span>
            </ion-row>
          </ng-template>
        </ion-row>

        <ion-row>
          <ion-row class="py-3" *ngIf="emailSend">
            <h5 class="text-center m-auto p-0">
              {{'forgot_request_email_description' | translate}}
            </h5>
          </ion-row>

        </ion-row>
      </mat-tab>

      <mat-tab>
        <ion-row>
          <ng-template mat-tab-label>
            <ion-row>
              <span class="margin-auto py-3" innerHTML="{{ 'sms' | translate }}">
              </span>
            </ion-row>
          </ng-template>
        </ion-row>

        <ion-row>
          <ion-row class="py-3">
            <h5 class="text-center m-auto p-0">
              {{'forgot_request_sms_description' | translate}}
            </h5>
          </ion-row>

          <ion-row class="py-3">
            <code-input [inputType]="'number'" class="custom-code-input" [isCodeHidden]="false" [codeLength]="4"
              (codeChanged)="onCodeChanged($event)" (codeCompleted)="onCodeCompleted($event)">
            </code-input>
          </ion-row>

        </ion-row>
      </mat-tab>

    </mat-tab-group>

    <ion-row *ngIf="FormMode == 'email'">
      <ion-row class="py-3" *ngIf="emailSend">
        <h5 class="text-center m-auto p-0">
          {{'forgot_request_email_description' | translate}}
        </h5>
      </ion-row>

    </ion-row>

    <ion-row *ngIf="FormMode == 'sms'">
      <ion-row class="py-3">
        <h5 class="text-center m-auto p-0">
          {{'forgot_request_sms_description' | translate}}
        </h5>
      </ion-row>

      <ion-row class="py-3">
        <code-input [inputType]="'number'" class="custom-code-input" [isCodeHidden]="false" [codeLength]="4"
          (codeChanged)="onCodeChanged($event)" (codeCompleted)="onCodeCompleted($event)">
        </code-input>
      </ion-row>

    </ion-row>
  </ion-row>

  <ion-row>

    <ion-row *ngIf="FormMode == 'both'">
      <ion-row class="my-3 jqx-button-row" *ngIf="serviceTabIndex == 0">
        <ion-col [sizeXl]="6" [sizeLg]="6" [sizeMd]="6" [sizeSm]="6" [sizeXs]="12">
          <ion-row class="h-100">
            <jqxButton [disabled]="!f.AccountNumber.valid" [theme]="globService.themeColor" class="jqx-button-theme"
              (onClick)="sendEmailForgotPassword()">
              {{ 'send' | translate }}
            </jqxButton>
          </ion-row>
        </ion-col>
        <ion-col [sizeXl]="6" [sizeLg]="6" [sizeMd]="6" [sizeSm]="6" [sizeXs]="12">
          <ion-row class="h-100">
            <jqxButton [theme]="globService.themeColor" class="jqx-button-theme" (onClick)="closeModal()">
              {{ 'cancel' | translate }}
            </jqxButton>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="my-3 jqx-button-row" *ngIf="serviceTabIndex == 1">
        <ion-col [sizeXl]="6" [sizeLg]="6" [sizeMd]="6" [sizeSm]="6" [sizeXs]="12">
          <ion-row class="h-100">
            <jqxButton [disabled]="!getValid()" [theme]="globService.themeColor" class="jqx-button-theme"
              (onClick)="submitTrigger()">
              {{ 'send' | translate }}
            </jqxButton>
          </ion-row>
        </ion-col>
        <ion-col [sizeXl]="6" [sizeLg]="6" [sizeMd]="6" [sizeSm]="6" [sizeXs]="12">
          <ion-row class="h-100">
            <jqxButton [theme]="globService.themeColor" class="jqx-button-theme" (onClick)="closeModal()">
              {{ 'cancel' | translate }}
            </jqxButton>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-row>

    <ion-row class="my-3 jqx-button-row" *ngIf="FormMode == 'email'">
      <ion-col [sizeXl]="6" [sizeLg]="6" [sizeMd]="6" [sizeSm]="6" [sizeXs]="12">
        <ion-row class="h-100">
          <jqxButton [disabled]="!f.AccountNumber.valid" [theme]="globService.themeColor" class="jqx-button-theme"
            (onClick)="sendEmailForgotPassword()">
            {{ 'send' | translate }}
          </jqxButton>
        </ion-row>
      </ion-col>
      <ion-col [sizeXl]="6" [sizeLg]="6" [sizeMd]="6" [sizeSm]="6" [sizeXs]="12">
        <ion-row class="h-100">
          <jqxButton [theme]="globService.themeColor" class="jqx-button-theme" (onClick)="closeModal()">
            {{ 'cancel' | translate }}
          </jqxButton>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="my-3 jqx-button-row" *ngIf="FormMode == 'sms'">
      <ion-col [sizeXl]="6" [sizeLg]="6" [sizeMd]="6" [sizeSm]="6" [sizeXs]="12">
        <ion-row class="h-100">
          <jqxButton [disabled]="!getValid()" [theme]="globService.themeColor" class="jqx-button-theme"
            (onClick)="submitTrigger()">
            {{ 'send' | translate }}
          </jqxButton>
        </ion-row>
      </ion-col>
      <ion-col [sizeXl]="6" [sizeLg]="6" [sizeMd]="6" [sizeSm]="6" [sizeXs]="12">
        <ion-row class="h-100">
          <jqxButton [theme]="globService.themeColor" class="jqx-button-theme" (onClick)="closeModal()">
            {{ 'cancel' | translate }}
          </jqxButton>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-row>
</ion-row>