<ion-row class="mt-5 left-right-auto">
  <ion-row class="ion-margin-top">
    <span class="margin-auto">
      <h3 class="m-0 p-0">
        <strong>
          {{'plans' | translate}}
        </strong>
      </h3>
    </span>
  </ion-row>
  
  <app-datatable 
    class="w-100"
    [data]="dataSource" 
    [totalCount]="totalCount"
    [columns]="columns"
    [action]="dataTableAction"
    [permissions]="permissions"
    [csvFileName]="csvFileName"
    (onCreate)="addNew()"
    (onView)="viewDetail($event)"
    (onFetchData)="fetchData($event)">
  </app-datatable>
</ion-row>
