<ion-row>
  <ion-row class="my-3">
    <h3 class="p-0 m-auto text-center">
      {{'contact_enquiry_password' | translate}} [{{ContactCode}}]
    </h3>
  </ion-row>

  <form [formGroup]="formGroup" class="w-100" (ngSubmit)="putEnquiryPassword()" novalidate>
    <ion-row>

      <mat-form-field class="w-100">
        <input matInput formControlName="password" type="text" placeholder="{{ 'enquiry_password' | translate }}"
          required name="password" />

        <mat-error>
          {{ 'enquiry_password_required' | translate }}
        </mat-error>

      </mat-form-field>

    </ion-row>
    <button class="submitButton" id="enquiryPasswordSubmitButton"></button>
  </form>

  <ion-row class="normal-button mt-5">
    <ion-col [sizeXl]="4" [sizeLg]="4" [sizeMd]="4" [sizeSm]="4" [sizeXs]="6"></ion-col>
    <ion-col [sizeXl]="4" [sizeLg]="4" [sizeMd]="4" [sizeSm]="4" [sizeXs]="6">
      <ion-row class="full-height">
        <jqxButton [theme]="globService.themeColor" class="jqx-button-theme" (click)="submitForm()">
          {{ 'update' | translate }}
        </jqxButton>
      </ion-row>
    </ion-col>
    <ion-col [sizeXl]="4" [sizeLg]="4" [sizeMd]="4" [sizeSm]="4" [sizeXs]="6">
      <ion-row class="full-height">
        <jqxButton [theme]="globService.themeColor" class="jqx-button-theme" (click)="goBack()">
          {{ 'cancel' | translate }}
        </jqxButton>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-row>