<ion-row id="contact-email-history">
    <ion-row class="ion-margin-top">
      <span class="margin-auto">
        <h3>
          <strong>
            {{'address_management_history' | translate}}
          </strong>
        </h3>
      </span>
    </ion-row>
    
    <ion-row class="ion-margin-top flex-1">
      <app-datatable 
        class="w-100"
        [data]="dataSource" 
        [totalCount]="totalCount"
        [columns]="columns"
        [action]="dataTableAction"
        [csvFileName]="csvFileName"
        [permissions]="permissions"
        [usePagination]="false"
        (onFetchData)="fetchData($event)">
      </app-datatable>
    </ion-row>
  
    <ion-row class="jqx-button-row row mb-3 mt-4 pt-3 ion-justify-content-end">
      <ion-col [sizeXl]="4" [sizeLg]="4" [sizeMd]="4" [sizeSm]="4" [sizeXs]="6">
        <jqxButton [theme]="globService.themeColor" class="jqx-button-theme" mat-dialog-close>
          {{ 'close' | translate }}
        </jqxButton>
      </ion-col>
    </ion-row>
</ion-row>