<ion-row class="ion-justify-content-end">
  <ion-fab-button 
    size="small" 
    color="light"
    [matTooltip]="'Create' | translate" 
    (click)="addNewEmail()">
    <ion-icon aria-hidden="true" name="add-outline"></ion-icon>
  </ion-fab-button>
</ion-row>
<ion-row>
  <form [formGroup]="formGroup" class="full-width">
    <ng-container formArrayName="Emails">
      <ion-row *ngFor="let subFormGroup of accountEmailsFormControl.controls; let i = index">
        <app-new-account-emails-element 
          class="w-100"
          [emailTypeList]="emailTypeList"  
          [formGroup]="subFormGroup"
          (onDeleteFormGroup)="deleteEmail(i)">
        </app-new-account-emails-element>
      </ion-row>
    </ng-container>
  </form>
</ion-row>