.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.example-radio-button {
    margin: 5px;
}


mat-tab-group {
    margin-top: 25px;

    .group-content {
        padding: 5px 10px;
    }
}