<ion-row class="ion-margin-top" id="paymentMethodDefaultHistory">
  <ion-row class="ion-margin-top left-right-auto" [ngStyle]="{'width':gridContentWidth}">

    <ion-row>
      <h3 class="margin-auto">
        {{'default_usage_history' | translate}}
      </h3>
    </ion-row>

    <ion-row class="left-right-auto export-data ion-margin-top" [ngStyle]="{'width':setGridWidth()}">
      <span class="margin-left-auto ion-text-end" (click)="exportData()">
        {{'export_to_excel' | translate}}
      </span>
    </ion-row>

    <jqxGrid id="jqxGridOption" [width]="setGridWidth()" #PaymentDefaultUsageHistoryGrid [columnsautoresize]="true"
      [columnsresize]="true" [theme]="globService.themeColor" [columnsmenu]="false" [autoheight]="true" [source]="dataAdapter"
      [columns]="columns" [sortable]="true" [rtl]="globService.rtlMode">
    </jqxGrid>

  </ion-row>

  <ion-row class="ion-margin-top">
    <ion-row class="ion-margin-top page-bottom left-right-auto jqx-button-row" [ngStyle]="{'width':gridContentWidth}">
      <ion-col [sizeXl]="4" [sizeLg]="4" [sizeMd]="4" [sizeSm]="4" [sizeXs]="6">
      </ion-col>
      <ion-col [sizeXl]="4" [sizeLg]="4" [sizeMd]="4" [sizeSm]="4" [sizeXs]="6">
      </ion-col>
      <ion-col [sizeXl]="4" [sizeLg]="4" [sizeMd]="4" [sizeSm]="4" [sizeXs]="6" class="margin-auto">
        <ion-row class="full-height">
          <jqxButton [theme]="globService.themeColor" class="jqx-button-theme" (click)="goBack()">
            {{ 'close' | translate }}
          </jqxButton>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-row>

</ion-row>