<ion-row class="">
  <app-document class="full-width" [ContactCode]="ContactCode" (DocumentComponent)="processDocuments($event)">
  </app-document>
</ion-row>

<ion-row class="">
</ion-row>

<ion-row class="mt-5 jqx-button-row total-content4 mx-auto" *ngIf="showClose">
  <ion-col [sizeXl]="4" [sizeLg]="4" [sizeMd]="4" [sizeSm]="6" [sizeXs]="12" class="ml-auto">
    <ion-row class="full-height">
      <jqxButton [theme]="globService.themeColor" class="jqx-button-theme" (onClick)="close()">
        {{ 'close' | translate }}
      </jqxButton>
    </ion-row>
  </ion-col>
</ion-row>