<ion-row class="ion-margin-top">
  <ion-row class="ion-margin-top left-right-auto" [ngStyle]="{'width':gridContentWidth}">

    <ion-row>
      <ion-row class="left-right-auto" [ngStyle]="{'width':gridContentWidth}">
        <ion-col [sizeXl]="6" [sizeLg]="6" [sizeMd]="6" [sizeSm]="6" [sizeXs]="12">
          <ion-row class="full-height">
            <span class=" margin-auto">
              {{ 'service_group_id' | translate }}: <strong>{{ServiceGroupId}}</strong>
            </span>
          </ion-row>
        </ion-col>

        <ion-col [sizeXl]="6" [sizeLg]="6" [sizeMd]="6" [sizeSm]="6" [sizeXs]="12">
          <ion-row class="full-height">
            <span class="margin-auto">
              {{ 'service_group_name' | translate }}: <strong>{{ServiceGroupName}}</strong>
            </span>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-row>

    <ion-row>
      <ion-row class="left-right-auto export-data ion-margin-top" [ngStyle]="{'width':setGridWidth()}">
        <span class="margin-left-auto ion-text-end" (click)="exportData()">
          {{'export_to_excel' | translate}}
        </span>
      </ion-row>

      <jqxGrid id="jqxGridOption" [width]="setGridWidth()" #SvcSvcGroupAssignGrid [columnsautoresize]="true"
        [columnsresize]="true" [theme]="globService.themeColor" [columnsmenu]="false" [autoheight]="true" [source]="dataAdapter"
        [columns]="columns" [sortable]="true" (click)="selectRow()" [editable]="true"
        [selectionmode]="'multiplecellsadvanced'" (onCellvaluechanged)="cellChange()" [rtl]="globService.rtlMode">
      </jqxGrid>
    </ion-row>

  </ion-row>

  <ion-row *ngIf="groupList.length>0">
    <ion-row class="total-content2 left-right-auto">
      <ion-row class="ion-margin-top pagination-content">
        <span class="pagination-span ion-text-center">
          <span class="go-to-page">
            {{ 'goto_page' | translate }}:
            <input matInput type="number" min="1" max="{{maxPageRow}}" (keyup)="changePageNumber($event)"
              [(ngModel)]="pageRowNumber" (focus)="focusChangePage()" (focusout)="focusOutChangePage()" />
          </span>

          <span class="show-rows">
            {{ 'show_rows' | translate }}:
            <mat-select [(ngModel)]="rowStep" name="rowStep" (ngModelChange)="changeRowStep()">
              <mat-option *ngFor="let list of rowList" value="{{list}}">
                {{list}}
              </mat-option>
            </mat-select>
          </span>

          <!-- <br> -->

          <span class="pagination-row">
            {{startIndex + 1}} - {{endIndex}} {{ 'of_word' | translate }} {{totalLength}} &nbsp;

            <span color="secondary" *ngIf="startIndex < 1" class="margin-right-auto">
              {{backSymbol}}
            </span>
            <span *ngIf="startIndex > 0" class="margin-right-auto" (click)="reduceList()">
              {{backSymbol}}
            </span> &nbsp;&nbsp;
            <span color="secondary" *ngIf="endIndex >= totalLength" class="margin-left-auto top-bottom-auto"
              (click)="increaseList()">
              {{forwardSymbol}}
            </span>
            <span mode="ios" *ngIf="endIndex < totalLength" class="margin-left-auto top-bottom-auto"
              (click)="increaseList()">
              {{forwardSymbol}}
            </span>

          </span>

        </span>

      </ion-row>
    </ion-row>
  </ion-row>

  <ion-row>
    <ion-row class="ion-margin-top ion-padding-top page-bottom normal-button total-content2 left-right-auto">
      <ion-col [sizeXl]="4" [sizeLg]="4" [sizeMd]="4" [sizeSm]="6" [sizeXs]="12" class="margin-left-auto">
        <ion-row class="full-height">
          <jqxButton [theme]="globService.themeColor" class="jqx-button-theme" (click)="goBack()">
            {{ 'close' | translate }}
          </jqxButton>
        </ion-row>
      </ion-col>
      <!-- <ion-col [sizeXl]="4" [sizeLg]="4" [sizeMd]="4" [sizeSm]="6" [sizeXs]="12" class="margin-auto">
        <ion-row class="full-height">
          <jqxButton [theme]="globService.themeColor" class="jqx-button-theme" (click)="goToAddService()">
            {{ 'add_service' | translate }}
          </jqxButton>
        </ion-row>
      </ion-col>
      <ion-col [sizeXl]="4" [sizeLg]="4" [sizeMd]="4" [sizeSm]="6" [sizeXs]="12" class="margin-auto">
        <ion-row class="full-height">
          <jqxButton [theme]="globService.themeColor" [disabled]="checkValueList.length == 0" class="jqx-button-theme"
            (click)="removeService()">
            {{ 'remove_services' | translate }}
          </jqxButton>
        </ion-row>
      </ion-col> -->
    </ion-row>
  </ion-row>

  <!-- <button id="removeButton" class="submitButton" (click)="RemoveItem()"></button> -->
</ion-row>