
::ng-deep div.jqx-grid-pager {
  display: none;
}

ion-row.pager ion-col {
  text-align: center;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 auto;
}
