<ion-row class="mt-3 left-right-auto">
  <app-datatable 
    class="w-100"
    [data]="dataSource" 
    [totalCount]="totalCount"
    [columns]="columns"
    [columnsUsedForCurrency]="columnsUsedForCurrency"
    [action]="dataTableAction"
    [csvFileName]="csvFileName"
    [searchOptions]="searchOptions"
    [permissions]="permissions"
    (onView)="goToDisputeDetail($event)"
    (onEdit)="editOne($event)"
    (onDelete)="deleteSelectedOne($event)"
    (onCreate)="addNew()"
    (onFetchData)="fetchData($event)">
  </app-datatable>
</ion-row>