.new-account-content-menu button {
    padding: 2px 5px 2px 5px;
}

.main_content {
    width: 100%;
    min-height: calc(100vh - 100px);
}

.fixed-sidenav {
    position: fixed;
    top: 190px;
    left: 10px;
    bottom: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}