<ion-row class="top-content">
  <ion-row>
    <ion-row class="my-3">
      <h3 *ngIf="expiryDate!=null" class="p-0 m-auto text-center">
        {{ 'password_expiry_warnning' | translate }}
      </h3>
      <h3 *ngIf="expiryDate==null" class="p-0 m-auto text-center">
        {{ 'password_expiry' | translate }}
      </h3>
    </ion-row>
    <ion-row class="px-3">
      <ion-row>
        <div>
          <p class="content-title text-dark">
            <span *ngIf="expiryDate==null">{{'password_expiry_due' | translate}} : ({{'date_unavailable' | translate}})</span>

            <span *ngIf="expiryDate!=null">{{'password_expiry_due' | translate}} : {{expiryDate}}</span>
          </p>
          <br>
          <p class="content-title text-dark">
            {{'password_expiry_warnning_failure' | translate}}
          </p>
          <br>
          <p class="content-title text-dark">
            {{'password_expiry_warnning_change' | translate}}
          </p>
        </div>
      </ion-row>
    </ion-row>
  </ion-row>
</ion-row>
<ion-row>
  <ion-row class="my-3 jqx-button-row justify-content-end">
    <ion-col [sizeXl]="4" [sizeLg]="4" [sizeMd]="4" [sizeSm]="6" [sizeXs]="12">
      <ion-row class="h-100">
        <jqxButton [theme]="globService.themeColor" class="jqx-button-theme" (onClick)="changepassword()">
          {{ 'change_password' | translate }}
        </jqxButton>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row class="my-3 jqx-button-row justify-content-end">
    <ion-col [sizeXl]="8" [sizeLg]="8" [sizeMd]="8" [sizeSm]="8" [sizeXs]="12">
      <ion-row class="ml-3 h-100">
        <mat-checkbox [checked]="isDontShowAgain" (change)="onChange($event)">
          {{'dont_display_again'|translate}}
        </mat-checkbox>
      </ion-row>
    </ion-col>
    <ion-col [sizeXl]="4" [sizeLg]="4" [sizeMd]="4" [sizeSm]="6" [sizeXs]="12">
      <ion-row class="h-100">
        <jqxButton [theme]="globService.themeColor" class="jqx-button-theme" (onClick)="close()">
          {{ 'cancel' | translate }}
        </jqxButton>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-row>