<ion-row class="">

  <ion-row class="my-3">
    <ion-row *ngIf="GroupId === ''">
      <h3 class="p-0 m-auto">
        {{'add_charge_display_group' | translate}}
      </h3>
    </ion-row>
    <ion-row *ngIf="GroupId !== ''">
      <h3 class="p-0 m-auto">
        {{'update_charge_display_group' | translate}}
      </h3>
    </ion-row>
  </ion-row>


  <ion-row class="total-content4 mx-auto">
    <form [formGroup]="chargeForm" class="w-100" (ngSubmit)="submitForm()" novalidate>

      <ion-row>
        <ion-col [sizeXl]="6" [sizeLg]="6" [sizeMd]="6" [sizeSm]="6" [sizeXs]="12">
          <ion-row>
            <mat-form-field class="w-100">
              <input matInput formControlName="Id" maxlength="2" type="text" placeholder="{{ 'id' | translate }}" name="Id" min="0"
                max="1000" />

              <mat-error *ngIf="f.DisplayOrder.hasError('required')">
                <span>{{ 'id_invalid' | translate }}</span>
              </mat-error>
            </mat-form-field>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col [sizeXl]="6" [sizeLg]="6" [sizeMd]="6" [sizeSm]="6" [sizeXs]="12">
          <ion-row>
            <mat-form-field class="w-100">
              <input matInput formControlName="Name" type="text" placeholder="{{ 'name' | translate }}" name="Name"
                required />

              <mat-error>
                <span>{{ 'name_required' | translate }}</span>
              </mat-error>
            </mat-form-field>
          </ion-row>
        </ion-col>
        <ion-col [sizeXl]="6" [sizeLg]="6" [sizeMd]="6" [sizeSm]="6" [sizeXs]="12">
          <ion-row>
            <mat-form-field class="w-100">
              <input matInput formControlName="DisplayOrder" type="number" min="0" max="1000"
                placeholder="{{ 'display_order' | translate }}" name="DisplayOrder" required />

              <mat-error *ngIf="f.DisplayOrder.hasError('required')">
                <span>{{ 'display_order_required' | translate }}</span>
              </mat-error>

              <mat-error
                *ngIf="!f.DisplayOrder.hasError('required') && (f.DisplayOrder.hasError('min') || f.DisplayOrder.hasError('max'))">
                <span>{{ 'display_order_invalid' | translate }}</span>
              </mat-error>
            </mat-form-field>
          </ion-row>
        </ion-col>
      </ion-row>

      <button class="submitButton" id="accountChargeDisplayGroupFormSubmitButton"></button>
    </form>

    <ion-row class="my-3 pt-5 jqx-button-row">
      <ion-row class="total-content4 mx-auto justify-content-end">
        <ion-col [sizeXl]="4" [sizeLg]="4" [sizeMd]="4" [sizeSm]="4" [sizeXs]="12" *ngIf="GroupId === ''">
          <ion-row class="full-height">
            <jqxButton [theme]="globService.themeColor" class="jqx-button-theme" (onClick)="submitTrigger()"
              [disabled]="!chargeForm.valid">
              {{ 'create' | translate }}
            </jqxButton>
          </ion-row>
        </ion-col>
        <ion-col [sizeXl]="4" [sizeLg]="4" [sizeMd]="4" [sizeSm]="4" [sizeXs]="12" *ngIf="GroupId !== ''">
          <ion-row class="full-height">
            <jqxButton [theme]="globService.themeColor" class="jqx-button-theme" (onClick)="submitTrigger()"
              [disabled]="!chargeForm.valid">
              {{ 'update' | translate }}
            </jqxButton>
          </ion-row>
        </ion-col>
        <ion-col [sizeXl]="4" [sizeLg]="4" [sizeMd]="4" [sizeSm]="4" [sizeXs]="12">
          <ion-row class="full-height">
            <jqxButton [theme]="globService.themeColor" class="jqx-button-theme" (onClick)="goBack()">
              {{ 'cancel' | translate }}
            </jqxButton>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-row>
  </ion-row>
</ion-row>