#file-list-grid{
    width: 100%;
}

.file-download{
    color: #3baf3b;
    font-size: 40px;
    cursor: pointer;
}
.jqx-grid-cell .jqx-grid-cell-base .jqx-item .jqx-item-base {
    padding: 20px 100px 20px 10px !important;
  }

  .cost-center-modal .modal-wrapper{
    max-width: 750px;
    max-height: 530px;
    width: 100%;
    height: 100%;
}