.custom-border-top {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.custom-border-top-right {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.custom-border-right {
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.custom-border-left {
    border-left: 1px solid rgba(0, 0, 0, 0.3);
}

.custom-border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.no-boder {
    border: none;
}

.solid-boder {
    border: 1px solid;
}