<ion-row>
  <ion-row class="ion-margin-top">
    <table class="customer-detail">
      <tbody
        class="mt-3 custom-table-body jqx-grid-content jqx-widget-content jqx-grid-content-{{globService.themeColor}} jqx-widget-content-{{globService.themeColor}}"
        *ngFor=" let detaiList of panelData; let i=index">
        <tr class="ion-margin-top full-height" class="customeTableTermGeneralDetail{{i}}" (mouseenter)="overTable(i)"
          (mouseleave)="leaveTable(i)">

          <td class="custom-table-body-td jqx-item jqx-item-{{globService.themeColor}}" colspan="2">
            <span class="top-bottom-auto" *ngIf="detaiList.TerminationType!=null">
              <strong>{{detaiList.TerminationType}}</strong>
            </span>
          </td>

        </tr>
        <tr class="ion-margin-top full-height ion-padding-left" class="customeTableTermGeneralDetailList{{i}}{{j}}"
          (mouseenter)="overTableList(i, j)" (mouseleave)="leaveTableList(i, j)"
          *ngFor="let list of detaiList.TerminationList; let j = index">
          <td class="custom-table-body-td jqx-item jqx-item-{{globService.themeColor}}">
            <span class="top-bottom-auto" *ngIf="list.Label!=null">
              {{list.Label}}
            </span>
          </td>
          <td class="custom-table-body-td jqx-item jqx-item-{{globService.themeColor}}">
            <span class="top-bottom-auto" *ngIf="list.Value!=null">
              {{list.Value}}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </ion-row>
</ion-row>