<ion-row class="mt-3">

  <ion-row>
    <h3 class="p-0 m-auto text-center">
      {{'password_configuration' | translate}}
    </h3>
  </ion-row>

  <ion-row class="total-content2 mx-auto">
    <form class="w-100" [formGroup]="configurationForm" (ngSubmit)="updateConfiguration()" novalidate>
      <ion-row class="mt-3">

        <ion-col [sizeXl]="6" [sizeLg]="6" [sizeMd]="6" [sizeSm]="6" [sizeXs]="12">
          <ion-row class="h-100">
            <mat-form-field class="w-100">

              <!-- <mat-slider thumbLabel formControlName="MinimumLength" step="1" min="6" max="30" aria-label="units"
                required></mat-slider> -->

              <!-- <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1000" step="1000" min="0" max="100000"
                  aria-label="units"></mat-slider> -->

              <input matInput type="number" formControlName="MinimumLength"
                placeholder="{{ 'minimum_length' | translate }}" required name="MinimumLength">

              <mat-error *ngIf="f.MinimumLength.hasError('required')">
                <span>{{ 'minimum_length_required' | translate }}</span>
              </mat-error>

              <mat-error
                *ngIf="!f.MinimumLength.hasError('required') && (f.MinimumLength.hasError('min') || f.MinimumLength.hasError('max'))">
                <span>{{ 'must_between_numbers630' | translate }}</span>
              </mat-error>
            </mat-form-field>
          </ion-row>
        </ion-col>

        <ion-col [sizeXl]="6" [sizeLg]="6" [sizeMd]="6" [sizeSm]="6" [sizeXs]="12">
          <ion-row class="h-100">
            <mat-form-field class="w-100">
              <input matInput type="number" formControlName="MaximumLength" step="1"
                placeholder="{{ 'maximum_length' | translate }}" required name="MaximumLength">

              <mat-error *ngIf="f.MaximumLength.hasError('required')">
                <span>{{ 'maximum_length_required' | translate }}</span>
              </mat-error>

              <mat-error
                *ngIf="!f.MaximumLength.hasError('required') && (f.MaximumLength.hasError('min') || f.MaximumLength.hasError('max'))">
                <span>{{ 'must_between_numbers630' | translate }}</span>
              </mat-error>
            </mat-form-field>
          </ion-row>
        </ion-col>

        <ion-col [sizeXl]="6" [sizeLg]="6" [sizeMd]="6" [sizeSm]="6" [sizeXs]="12">
          <ion-row class="h-100">
            <mat-form-field class="w-100">
              <input matInput type="number" formControlName="MinimumNumberSpecialCharacters"
                placeholder="{{ 'minimum_number_special_characters' | translate }}" required
                name="MinimumNumberSpecialCharacters">

              <mat-error *ngIf="f.MinimumNumberSpecialCharacters.hasError('required')">
                <span>{{ 'minimum_number_special_characters_required' | translate }}</span>
              </mat-error>

              <mat-error
                *ngIf="!f.MinimumNumberSpecialCharacters.hasError('required') && (f.MinimumNumberSpecialCharacters.hasError('min') || f.MinimumNumberSpecialCharacters.hasError('max'))">
                <span>{{ 'must_between_numbers030' | translate }}</span>
              </mat-error>
            </mat-form-field>
          </ion-row>
        </ion-col>

        <ion-col [sizeXl]="6" [sizeLg]="6" [sizeMd]="6" [sizeSm]="6" [sizeXs]="12">
          <ion-row class="h-100">
            <mat-form-field class="w-100">
              <input matInput type="number" formControlName="MinimumNumberUpperCaseCharacters"
                placeholder="{{ 'minimum_number_upper_case_characters' | translate }}" required
                name="MinimumNumberUpperCaseCharacters">

              <mat-error *ngIf="f.MinimumNumberUpperCaseCharacters.hasError('required')">
                <span>{{ 'minimum_number_upper_case_characters_required' | translate }}</span>
              </mat-error>

              <mat-error
                *ngIf="!f.MinimumNumberUpperCaseCharacters.hasError('required') && (f.MinimumNumberUpperCaseCharacters.hasError('min') || f.MinimumNumberUpperCaseCharacters.hasError('max'))">
                <span>{{ 'must_between_numbers030' | translate }}</span>
              </mat-error>
            </mat-form-field>
          </ion-row>
        </ion-col>

        <ion-col [sizeXl]="6" [sizeLg]="6" [sizeMd]="6" [sizeSm]="6" [sizeXs]="12">
          <ion-row class="h-100">
            <mat-form-field class="w-100">
              <input matInput type="number" formControlName="MinimumNumberNumberIntegers"
                placeholder="{{ 'minimum_number_number_characters' | translate }}" required
                name="MinimumNumberNumberIntegers">

              <mat-error *ngIf="f.MinimumNumberNumberIntegers.hasError('required')">
                <span>{{ 'minimum_number_number_characters_required' | translate }}</span>
              </mat-error>

              <mat-error
                *ngIf="!f.MinimumNumberNumberIntegers.hasError('required') && (f.MinimumNumberNumberIntegers.hasError('min') || f.MinimumNumberNumberIntegers.hasError('max'))">
                <span>{{ 'must_between_numbers030' | translate }}</span>
              </mat-error>
            </mat-form-field>
          </ion-row>
        </ion-col>

        <ion-col [sizeXl]="6" [sizeLg]="6" [sizeMd]="6" [sizeSm]="6" [sizeXs]="12">
          <ion-row class="h-100">
            <mat-form-field class="w-100">
              <input matInput type="number" formControlName="ExpiryPeriod" placeholder="{{ 'expiry_period' | translate }}"
                required name="ExpiryPeriod">

              <mat-error *ngIf="f.ExpiryPeriod.hasError('required')">
                <span>{{ 'expiry_period_required' | translate }}</span>
              </mat-error>

              <mat-error
                *ngIf="!f.ExpiryPeriod.hasError('required') && (f.ExpiryPeriod.hasError('min') || f.ExpiryPeriod.hasError('max'))">
                <span>{{ 'must_between_numbers010000' | translate }}</span>
              </mat-error>
            </mat-form-field>
          </ion-row>
        </ion-col>

        <ion-col [sizeXl]="6" [sizeLg]="6" [sizeMd]="6" [sizeSm]="6" [sizeXs]="12">
          <ion-row class="h-100">
            <mat-form-field class="w-100">
              <input matInput type="number" formControlName="TemporaryPasswordExpiryPeriod"
                placeholder="{{ 'temporary_password_expiry_period' | translate }}" required
                name="TemporaryPasswordExpiryPeriod">

              <mat-error *ngIf="f.TemporaryPasswordExpiryPeriod.hasError('required')">
                <span>{{ 'temporary_password_expiry_period_required' | translate }}</span>
              </mat-error>

              <mat-error
                *ngIf="!f.TemporaryPasswordExpiryPeriod.hasError('required') && (f.TemporaryPasswordExpiryPeriod.hasError('min') || f.TemporaryPasswordExpiryPeriod.hasError('max'))">
                <span>{{ 'must_between_numbers03000' | translate }}</span>
              </mat-error>
            </mat-form-field>
          </ion-row>
        </ion-col>

        <ion-col [sizeXl]="6" [sizeLg]="6" [sizeMd]="6" [sizeSm]="6" [sizeXs]="12">
          <ion-row class="h-100">
            <mat-form-field class="w-100">
              <input matInput type="number" formControlName="PasswordChangesBeforeReuse"
                placeholder="{{ 'password_changes_before_reuse' | translate }}" required
                name="PasswordChangesBeforeReuse">

              <mat-error *ngIf="f.PasswordChangesBeforeReuse.hasError('required')">
                <span>{{ 'password_changes_before_reuse_required' | translate }}</span>
              </mat-error>

              <mat-error
                *ngIf="!f.PasswordChangesBeforeReuse.hasError('required') && (f.PasswordChangesBeforeReuse.hasError('min') || f.PasswordChangesBeforeReuse.hasError('max'))">
                <span>{{ 'must_between_numbers01000' | translate }}</span>
              </mat-error>
            </mat-form-field>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-row class="h-100">
            <mat-form-field class="w-100">
              <textarea matInput placeholder="{{'password_complexity_message' | translate}}"
                formControlName="PasswordComplexityMessage" name="PasswordComplexityMessage">
                </textarea>

              <mat-error>
                <span>{{ 'password_complexity_message_required' | translate }}</span>
              </mat-error>
            </mat-form-field>
          </ion-row>
        </ion-col>
      </ion-row>

      <button class="submitButton" id="submitButton"></button>
    </form>

    <ion-row class="jqx-button-row justify-content-end my-3">
      <ion-col [sizeXl]="6" [sizeLg]="6" [sizeMd]="6" [sizeSm]="6" [sizeXs]="12">
        <ion-row class="h-100">
          <jqxButton [theme]="globService.themeColor" class="jqx-button-theme"
            [disabled]="getUpdateAvailable() || !configurationForm.valid" (onClick)="triggerSubmit()">
            {{ 'update' | translate }}
          </jqxButton>
        </ion-row>
      </ion-col>

      <ion-col [sizeXl]="6" [sizeLg]="6" [sizeMd]="6" [sizeSm]="6" [sizeXs]="12">
        <ion-row class="h-100">
          <jqxButton [theme]="globService.themeColor" class="jqx-button-theme" (onClick)="cancelForm()">
            {{ 'cancel' | translate }}
          </jqxButton>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-row>
</ion-row>